mat-toolbar.content-toolbar {
    font-size: 14px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    .navbar-title {
        color: black;
        font-size: 1em;
        margin-right: 11px;
    }
}

.content {
    margin-top: 64px;
    padding: 24px;
}

@media screen and (max-width: 599px) {
    .content {
        margin-top: 54px;
    }
}

mat-progress-bar {
    z-index: 10;
    position: fixed;
}

.divider {
    padding-top: 14px;
}

.serviceGroupList {
    border-right: 3px solid #9c27b0;
    font-size: 1em;
    transition: all .25s ease;
    background-color: #f3e5f5;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
}

.serviceGroupList:hover {
    border-right: 3px solid #ea80fc;
}

table {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
}

mat-list {
    padding: 0;
}

.subCategory {
    span {
        font-size: .9em;
    }
    transition: all .3s ease;
    border-right: 3px solid white;
}

.btn-icon {
    position: relative;
    top: -2px;
}