<mat-toolbar [class.mat-elevation-z1]="true" class="content-toolbar">
  <span class="navbar-title">
    دسته بندی ها
  </span>
</mat-toolbar>
<!-- <mat-progress-bar mode="query" color="primary"></mat-progress-bar> -->
<div class="content" fxLayout="row" fxLayoutAlign="space-between start">
  <div fxFlex="68">
    <mat-card>
      <mat-card-header>
        <mat-card-title>لیست گروه‌های دسته‌بندی</mat-card-title>
      </mat-card-header>
    </mat-card>
    <div class="divider"></div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>لیست دسته‌بندی‌ها</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div fxFlex="30">
    <mat-card>
      <mat-card-header>
        <mat-card-title>افزودن دسته‌بندی</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>