.full-width-field {
    :not(mat-error) {
        line-height: 20px;
    }
    width: 100%;
    font-family: iranyekan, sans-serif, arial;
}
form {
    margin-top: 6px;
    width: 80%;
}

@media screen and (min-width: 0) {
    form {
        width: 95%;
    }
}
@media screen and (min-width: 600px) {
    form {
        width: 89%;
    }
}

.button-container {
    min-width: 100%;
    margin-top: 10px;
font-size: .9em;
    a {
        margin: 0 3px;
    }
}

mat-form-field {
    margin-top: 3px;
}

.loading-container {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 6;
}