<form (submit)="login()" fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm">
  <mat-form-field class="full-width-field" fxFlex="100">
    <input matInput formControlName="email" placeholder="نام کاربری یا ایمیل">

    <mat-error *ngIf="loginForm.controls['email'].invalid && !loginForm.value.email ">
      نام کاربری را وارد کنید.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-field">
    <input [type]="hidePass ? 'text' : 'password' " matInput formControlName="password" placeholder="رمز عبور ">
    <mat-icon matSuffix (click)="hidePass=!hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>

    <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.value.password ">
      گذرواژه معتبر نیست!
    </mat-error>
    <mat-error *ngIf="loginForm.controls['password'].invalid && !loginForm.value.password ">
      گذرواژه را وارد کنید.
    </mat-error>
  </mat-form-field>
  <div class="button-container" fxLayout="row" fxLayoutAlign="end center">
    <a mat-button color="primary" (click)="changeMode()">فرم ثبت نام</a>
    <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">ورود</button>
  </div>
</form>

<div *ngIf="loading" class="loading-container" fxLayoutAlign="center center">
  <mat-spinner [diameter]="35"></mat-spinner>
</div>