.navigation-container {
    background-color: #37474f;
    background-repeat: repeat;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    width: 16%;
}

.content {
    position: relative;
}