// component
.full-width-field {
    width: 100%;
    line-height: 22px;
    font-family: iranyekan, sans-serif, arial;
}
form {
    margin-top: 6px;
    width: 80%;
}

@media screen and (min-width: 0) {
    form {
        width: 95%;
    }
}
@media screen and (min-width: 600px) {
    form {
        width: 89%;
    }
}

.button-container {
    min-width: 100%;
    margin-top: 15px;
    a {
        margin: 0 3px;
    }
}