<app-login-navbar></app-login-navbar>
<div class="nav-spacer"></div>

<div class="header-background" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
  <div fxFlex="1 30%" fxLayoutAlign="center start" fxLayout="row" class="head-part">
    <mat-card fxFlex.xs="86" fxFlex.sm="42" fxFlex.md="29" fxFlex.lg="24" fxFlex.gt-lg="22" [class.mat-elevation-z10]="true"
      class="login-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="header-card-center" fxLayoutAlign="center center" [class.mat-elevation-z5]="true">
        <ng-container [ngSwitch]="mode">
          <span *ngSwitchCase="'login'">ورود کاربران</span>
          <span *ngSwitchCase="'register'">ثبت نام کاربران</span>
        </ng-container>
      </div>
      <div [ngSwitch]="mode" class="full-width">
        <div *ngSwitchCase="'login'" class="full-width">
          <app-login-form [@fadeInOut] (onModeChange)="changeMode($event)" fxFlex="100" fxLayoutAlign="center center"></app-login-form>
        </div>
        <div *ngSwitchCase="'register'" class="full-width">
          <app-register-form [@fadeInOut] (onModeChange)="changeMode($event)" fxFlex="100" fxLayoutAlign="center center"></app-register-form>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="footer-container" fxLayout="row" fxLayout.xs-md="column" fxLayout.gt-md="row" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">
    <p fxHide="true" fxHide.gt-sm="false">تمامی حقوق مطالب و قالب برای بیت‌خور محفوظ است و هرگونه کپی برداری بدون ذکر منبع ممنوع است.</p>
    <p class="copyright">Copyright © 2017 - 2018 Beatkhor.ir</p>
  </div>
</div>