<mat-card>
  <mat-card-header fxLayoutAlign="space-between start">
    <mat-card-title>افزودن دسته‌بندی</mat-card-title>
    <mat-spinner *ngIf="loading" [diameter]="25"></mat-spinner>
  </mat-card-header>

  <form fxLayout="column" fxLayoutAlign="stretch end" [formGroup]="addForm">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="عنوان دسته" />
      <mat-error *ngIf="!addForm.value.title">
        این فیلد
        <strong>الزامی</strong>
        است.
      </mat-error>
      <mat-error *ngIf="addForm.controls['title'].invalid && addForm.value.title">
        مقدار وارد شده معتبر نیست!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="slug" placeholder="نشان دسته" />
      <mat-error *ngIf="!addForm.value.slug">
        این فیلد
        <strong>الزامی</strong>
        است.
      </mat-error>
      <mat-error *ngIf="addForm.controls['slug'].invalid && addForm.value.slug">
        مقدار وارد شده معتبر نیست!
      </mat-error>
    </mat-form-field>
    <mat-checkbox class="full-width" formControlName="isParent" color="accent">دسته‌ی مادر است.</mat-checkbox>
    <mat-form-field *ngIf="addForm.value.isParent">
      <mat-select formControlName="parent" placeholder="انتخاب دسته‌ی مادر">
        <mat-option [value]="'s'">شمماره یک</mat-option>
        <mat-option [value]="'s'">شمماره دو</mat-option>
        <mat-option [value]="'s'">شمماره سه</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="full-width position-container" fxLayoutAlign="start center">
      <span fxFlex="50">
        <mat-button-toggle-group color="primary" formControlName="position" name="position" aria-label="position">
          <mat-button-toggle value="after">قبل از</mat-button-toggle>
          <mat-button-toggle value="befor">بعد از</mat-button-toggle>
        </mat-button-toggle-group>
      </span>
      <span fxFlex="50">
        <mat-form-field>
          <mat-select formControlName="index" placeholder="انتخاب دسته">
            <mat-option [value]="'s'">شمماره یک</mat-option>
            <mat-option [value]="'s'">شمماره دو</mat-option>
            <mat-option [value]="'s'">شمماره سه</mat-option>
            <mat-option [value]="'s'">شمماره چهار</mat-option>
            <mat-option [value]="'s'">شمماره پنج</mat-option>
          </mat-select>
        </mat-form-field>
      </span>
    </span>
    <button [disabled]="addForm.invalid" mat-button color="primary" type="submit">
      <mat-icon>add</mat-icon>افزودن دسته
    </button>
  </form>
</mat-card>