<div class="nav-spacer"></div>

<div class="header-background" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start stretch" fxLayoutAlign.gt-xs="center center">

  <div fxFlex.xs="1 100%" fxHide.xs="false" fxHide.gt-xs="true" fxLayoutAlign="center center" class="header-statement">
    <span>برای گوش های شما ارزش قائلیم</span>
  </div>

  <div fxFlex.xs="1 100%" fxFlex.sm="1 50%" fxFlex.gt-sm="1 30%" fxLayoutAlign="center center" class="head-part">
    <mat-card fxFlex.xs="80" fxFlex.sm="75" fxFlex.gt-sm="67" [class.mat-elevation-z7]="true">
      <div class="header-card-right" fxLayoutAlign="center center" [class.mat-elevation-z5]="true">
        <span>تازه های فروشگاه</span>
      </div>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <h3 mat-line>عنوان تست</h3>
          <p mat-line> این تنها توضیحات برای تست لیست است. </p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <h3 mat-line>عنوان تست</h3>
          <p mat-line> این تنها توضیحات برای تست لیست است. </p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <h3 mat-line>عنوان تست</h3>
          <p mat-line> این تنها توضیحات برای تست لیست است. </p>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>

  <div fxFlex="1 30%" fxLayoutAlign="center center" fxLayout="row" fxHide.xs="false" fxHide.sm="true" fxHide.gt-sm="false"
    class="head-part">
    <mat-card fxFlex.xs="80" fxFlex.sm="80" fxFlex.gt-md="65" [class.mat-elevation-z10]="true" class="service-container" fxLayout="row ">
      <div class="header-card-center" fxLayoutAlign="center center" [class.mat-elevation-z5]="true">
        <span>خدمات بیت‌خور</span>
      </div>
      <div fxFlex="50" fxLayoutAlign="center center" fxLayout="column" class="center-card-menu">
        <img src="../../assets/images/test.svg" alt="pic">
        <span class="center-card-item ">ارزشگذاری آثار</span>
      </div>
      <div fxFlex="50" fxLayoutAlign="center center " fxLayout="column">
        <img src="../../assets/images/announcement.svg" alt="pic">
        <span class="center-card-item ">انتشار آثار شما</span>
      </div>
      <div fxFlex="50" fxLayoutAlign="center center" fxLayout="column">
        <img src="../../assets/images/violin.svg" alt="pic ">
        <span class="center-card-item ">ملزومات آهنگسازی</span>
      </div>
      <div fxFlex="50" fxLayoutAlign="center center" fxLayout="column">
        <img src="../../assets/images/musician.svg" alt="pic ">
        <span class="center-card-item ">آهنگسازی و تنظیم</span>
      </div>

    </mat-card>
  </div>

  <div fxFlex.xs="1 100%" fxFlex.sm="1 50%" fxFlex.gt-sm="1 30%" fxLayoutAlign="center center" class="head-part">
    <mat-card fxFlex.xs="80" fxFlex.sm="75" fxFlex.gt-sm="67" [class.mat-elevation-z7]="true" class="instrumental-container">
      <div class="header-card-left" fxLayoutAlign="center center" [class.mat-elevation-z5]="true">
        <span>تازه های اینسترومنتال</span>
      </div>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <h3 mat-line>عنوان تست</h3>
          <p mat-line> این تنها توضیحات برای تست لیست است. </p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <h3 mat-line>عنوان تست</h3>
          <p mat-line> این تنها توضیحات برای تست لیست است. </p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <h3 mat-line>عنوان تست</h3>
          <p mat-line> این تنها توضیحات برای تست لیست است. </p>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>

</div>