@mixin header-card-head() {
    position: absolute;
    top: -30px;
    right: -20px;
    left: -20px;
    color: white;
    border-radius: 3px;
    padding: 12px 20px;
}

app-navbar {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-background {
    min-height: 300px;
    background-color: #440055;

        div {
            margin-bottom: -13%;
        }

    mat-list-item {
        height: 60px;

        p {
            font-size: .8em;
            opacity: .8;
        }
        
    }

    .service-container {
        div {
            margin: 0;
            img {
                width: 60%;
                padding-top: 18px;
            }
        }
        flex-wrap: wrap;
        padding-top: 27px;
    }
}

.nav-spacer {
    height: 64px;
}

.header-service {
    background-color: #440055;
    border: 0;
}

.header-background div.header-statement {
    margin-bottom: 0;
    color: white;
    font-size: 1em;
}

@media screen and (min-width: 0) {
    .header-card-right {
        @include header-card-head();
        background: linear-gradient(320deg,#A300AD, #DB00D5);
        padding: 11px 20px;
        font-size: 1em;
    }
    .header-card-left {
        @include header-card-head();
        background: linear-gradient(40deg,#A300AD, #DB00D5);
        padding: 11px 20px;
        font-size: 1em;
    }
    .header-background {
        mat-list-item {
            height: 60px;
    
            h3 {
                font-size: 0.8em;
                font-weight: 500;
            }
            p {
                font-size: .8em;
                opacity: .8;
                font-weight: 400;
            }
            
        }
    }
}

@media screen and (min-width: 599px) {
    .header-card-right {
        @include header-card-head();
        background: linear-gradient(320deg,#A300AD, #DB00D5);
        padding: 11px 20px;
        font-size: 1em;
    }
    .header-card-left {
        @include header-card-head();
        background: linear-gradient(40deg,#A300AD, #DB00D5);
        padding: 11px 20px;
        font-size: 1em;
    }

    .header-background div.head-part {
        margin-bottom: -19%;
    }

    .header-background {
        min-height: 250px;
    }
 
}
@media screen and (min-width: 959px) {
    .header-card-right {
        @include header-card-head();
        background: linear-gradient(320deg,#A300AD, #DB00D5);
        padding: 11px 20px;
        font-size: 1em;
    }
    .header-card-left {
        @include header-card-head();
        background: linear-gradient(40deg,#A300AD, #DB00D5);
        padding: 11px 20px;
        font-size: 1em;
    }
    .header-card-center {
        @include header-card-head();
        background: #DB00D5;
        right: -28px;
        left: -28px;

        padding: 12px 20px;
        font-size: 1em;
    }
    .header-background {
        
        mat-list-item {
            height: 60px;
    
            h3 {
                font-size: .8em;
            }
            p {
                font-size: .8em;
                opacity: .8;
            }
            
        }
    }
    .service-container div span.center-card-item{
        font-size: .73rem;
        margin-top: 10px;
    }

    .header-background div.head-part {
        margin-bottom: -13%;
    }

    .header-background {
        min-height: 300px;
    }
}
@media screen and (min-width: 959px) and (max-width: 1100px) {

    .header-card-right, .header-card-left {
        font-size: .8em;
    }

    .service-container {
        max-width: 80%;
    }

    .header-background div.head-part {
        margin-bottom: -15%;
    }

    .header-background {
        mat-list-item {
            height: 50px;
    
            h3 {
                font-size: .8em;
            }
            p {
                font-size: .8em;
                opacity: .8;
            }
            
        }
    }

    .service-container div span.center-card-item{
        font-size: .75rem;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1281px) {
    .service-container {
        max-width: 73%;
    }

    .header-background {
        mat-list-item {
            height: 55px;            
        }
    }
}

@media screen and (min-width: 1280px) {
    .header-card-right {
        @include header-card-head();
        // background: linear-gradient(320deg,#A300AD, #DB00D5);
    }

    .header-card-center {
        @include header-card-head();
        background: #DB00D5;
        right: -28px;
        left: -28px;

        span {
            line-height: 26px;
        }
    }

    .header-card-left {
        @include header-card-head();
        // background: linear-gradient(40deg,#A300AD, #DB00D5);
    }

    .header-background {
        mat-list-item {
            height: 60px;
    
            h3 {
                font-size: .8em;
            }
            p {
                font-size: .8em;
                opacity: .8;
            }
            
        }
    }

    .service-container div span.center-card-item{
        font-size: .79rem;
    }
}

@media screen and (max-width: 599px) {
    .header-background div.head-part {
        margin: 0;
        margin-top: 50px;
    }

    .header-background {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .nav-spacer {
        height: 56px;
    }

    .header-card-center {
        @include header-card-head();
        background: #DB00D5;
        right: -20px;
        left: -20px;

        span {
            line-height: 20px;
        }
    }

    .service-container div span.center-card-item{
        margin-top: 14px;
        font-size: .87em;
    }

    .header-background .service-container div img {
        width: 58%
    }

    .header-card-right {
        @include header-card-head();
        background: linear-gradient(180deg,#A300AD, #DB00D5);
    }

    .header-card-left {
        @include header-card-head();
        background: linear-gradient(0deg,#A300AD, #DB00D5);
    }
}